/* Do everything in this file */
h2, h3, h4, h5, h6
{
    border-bottom: 2px solid red;
    clear: both;
}
figure
{
    width: 40%;
    float: right;
    margin-left: 10vw;
}
figure img
{
    width: 60%;
}
#tetlist img
{
    width:20%
}